thrift==0.9.3
thrift-sasl==0.2.1
requests
psycopg2-binary
Flask
Flask-PyMongo
Flask-RESTful
Flask-COS
Flask-Script
Flask-Socketio
SQLAlchemy
pandas
impyla
python-ldap
flake8
redis
jupyter
openpyxl
toml
xlsxwriter
